// colors
$color-purple: #4524f0;
$color-pink: #d74bfa;
$color-white: #fff;
$color-gray-dark: #0b0b0b;
$color-gray-dark2: #3b3b3b;
$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-black: #000;
$color-red: #f63a3a;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #ec3b3b;
$color-quaternary-dark: #f70465;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-tiny: 4rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;